@model HashSet<string>
@{
    ViewData["Title"] = "Index";
}

<form method="post" asp-action="Add" enctype="application/x-www-form-urlencoded">
    <input type="text" name="name" />
    <input type="number" name="score" />
    <button type="submit">Kaydet</button>
</form>

@foreach (var item in Model)
{

    <h2>@item <a asp-action="DeleteItem" asp-route-name="@item">sil</a></h2>
}